<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>
            This site was created by Joshua Boyd with the help of Andrew Mead's Udemy Course tutorial - The Complete
            Node.js
            Developer Course (3rd Edition).
            The application allows users to search a location of their choice and get the current weather information
            for
            that area. Built by utilizing the darksky.net weather api and mapbox.com geolocation api. The code for the
            following project can be found here <a href="https://github.com/boydj4/node3-weather-api">Code</a>
        </p>

    </div>
    {{>footer}}
</body>

</html>